doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Congratulations you've been made an admin on #{organization}
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Tenali+Ramakrishna&display=swap" rel="stylesheet")
  body(style="font-family: 'Kodchasan', sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;")
    table(role="presentation", cellspacing="0", cellpadding="0", border="0", align="center", width="600", style="margin: auto; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 5px; margin-top: 20px;")
      tr
        td(style="padding: 20px; text-align: center;")
          h2(style="color:#05051B; font-size:1.7rem;") #{organization}
      tr
        td(style="padding: 20px; text-align: center")
          h2(style="color: #333;") Welcome to #{organization}
          p(style="color: #555; font-size: 16px; line-height: 1.6;") Hello #{firstName},
          p(style="color: #555; font-size: 16px; line-height: 1.6;") You've been added to #{organization} as an admin.
          p(style="color: #555; font-size: 16px; line-height: 1.6;") Ready to get started?. please click the button below and get started to setup your account:
        tr
        td(style="padding: 20px; text-align: center;")
          a(href=`${url}`, style="display: inline-block; padding: 15px 25px; background-color: #05051B; color: #ffffff; text-decoration: none; border-radius: 3px;") Set Up Account
      tr
        td(style="padding: 20px;")
          p(style="color: #555; font-size: 16px; line-height: 1.6; text-align:center;") Need a hand or have any questions? Our support team is just an email away.
      tr
        td(style="padding: 20px; text-align: center; background-color: #f8f8f8;")
          p(style="color: #777;") © 2025 #{organization} Inc. All rights reserved.
          p(style="color: #777;") Sent with ❤️ from #{organization}
